header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.logo img {
    width: 130px;
    height: auto;
    padding-bottom: 20px;
  }
 

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #0b663b;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #0b663b;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}

.navigation .binLogin-popup:hover  {
    background: #fff;
    color: #0b663b;

}